@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}

.card-items {
  list-style: none;
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 1rem;
}

.card-items:hover,
.card-items:active {
  border-radius: 1rem;
  border-color: red;
}
