<div class="container">
    <section class="user-details">
        <div class="main-image">
            <img  src="{{userDetail.image}}" alt="{{userDetail.name}}">
        </div>      
        <div class="main-info">
            <h1>Name: {{userDetail.name}}</h1>
            <h2>City: {{userDetail.city}}</h2>
        </div>
    </section>
    <section class="friends-list">
        <p>friends list</p>
        <div class="card-items" *ngFor="let user of friendsList; let index = i">
            <app-mini-card [singleUser]="user" (onClick)="showUser()">
            </app-mini-card>
        </div>
    </section>
    <section class="friends-of-friend">
        <p>friend suggesstion</p>
        <div class="card-items" *ngFor="let user of friendsSuggestion; let index = i">
            <app-mini-card [singleUser]="user" (onClick)="showUser()">
            </app-mini-card>
        </div>
    </section>
</div>


